<%- include('partials/head') %>
    <h1>Welcome!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse error ad sint soluta est illum quam. Quasi aliquam, doloremque iste culpa praesentium accusantium consectetur illum assumenda eaque earum voluptatem similique!</p>
<%- include('partials/footer') %>